@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Index</h2>

<p>Hi from Ideas Controller!</p>

<div class="addNewIdea">
    <input type="text" placeholder="Enter yor idea" data-bind="value: newIdea" />
    <button data-bind="click: addIdea">Submit</button>
</div>

<div class="IdeasContainer" data-bind="foreach: ideas">
    <div class="item">
        <div data-bind="visible: isEditing() != true">
            <p data-bind=" text: Text, click: enableEdit"></p>
            <div class="right">
                <button type="button" style="color: red" class="close" aria-hidden="true" data-bind="click: deleteIdea">&times;</button>
            </div>
        </div>
        <div data-bind="visible: isEditing">
            <input type="text" data-bind="value: Text, hasfocus: isEditing, event:{blur: editIdea}">
        </div>
    </div>
</div>

<script src="@Url.Content("~/Scripts/knockout-3.1.0.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Site/ideasScript.js")" type="text/javascript"></script>