@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    
    <div class="row">
        
        <div class="col-md-11">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Enter yor idea" data-bind="value: newIdea" />
                <span class="input-group-btn">
                    <button class="form-control" data-bind="click: addIdea">Submit</button>
                </span>
            </div>
        </div>
    </div>

    <div class="row" data-bind="foreach: ideas">
        <div class="item row  col-md-offset-1 col-md-10">
            <div data-bind="visible: isEditing() != true">
                <div class="right">
                    <button type="button" style="color: red" class="close" aria-hidden="true" data-bind="click: deleteIdea">&times;</button>
                </div>
                <div class="row ideaText" data-bind=" text: Text, click: enableEdit"></div>
                
                <div class="row small" data-bind="text: PublicationTime"></div>
                
            </div>

            <div data-bind="visible: isEditing">
                <input type="text" class="form-control" data-bind="value: Text, hasfocus: isEditing, event:{blur: editIdea}">
            </div>
        </div>
    </div>
</div>
<script src="@Url.Content("~/Scripts/knockout-3.1.0.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Site/ideasScript.js")" type="text/javascript"></script>